{% extends "navbar.html" %}
{% block content %}
{% include "home.html" %}        


{% load static %}


               
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Status List</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    </th>
                                    <th scope="col">STUDENT NAME</th>
                                    <th scope="col">DATE OF JOIN</th>
                                    <th scope="col">GENDER</th>
                                    <th scope="col">CONTACT</th>
                                    <th scope="col">STATUS</th>
                                    
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for student in obj  %}
                                <tr>
                                    <td>
                                        <img alt="..." src="{% static 'assets\img\logo\Screenshot1.png' %}" class="avatar avatar-xs rounded-circle me-2">
                                        <a class="text-heading font-semibold" href="#">
                                            {{student.get_name}}
                                        </a>
                                    </td>
                                    <td>
                                       {{student.joindate}}
                                    </td>
                                    <td>
                                       
                                        <a class="text-heading font-semibold" href="#">
                                           {{student.Gender}}
                                        </a>
                                    </td>
                            
                                    <td>
                                        
                                        {{student.mobile}}
                                    </td>
                                    <td>
                                        {% if student.status == 'active' %}
                                        <span class="badge badge-lg badge-dot">
                                            <i class="bg-success"></i> 
                                        </span>{{student.status}}
                                        {% elif student.status == 'applied' %}
                                        <span class="badge badge-lg badge-dot">
                                        <i  class="bg-info"></i> 
                                        </span>{{student.status}}
                                        {% elif student.status == 'waitlist' %}
                                        <span class="badge badge-lg badge-dot">
                                        <i class="bg-primary"></i> 
                                    </span>{{student.status}}
                                    {% elif student.status == 'prospects' %}
                                        <span class="badge badge-lg badge-dot">
                                        <i class="bg-warning"></i> 
                                    </span>{{student.status}}
                                    {% elif student.status == 'toured' %}
                                        <span class="badge badge-lg badge-dot">
                                        <i class="bg-tertiary"></i> 
                                    </span>{{student.status}}
                                    </td>
                                     {% endif %}
                                    <td class="text-end">
                                        <a href="{% url 'student_views' student.id %}" class="btn btn-sm btn-neutral">View</a>
                                        <a href="{% url 'update_student' student.id %}" class="btn btn-sm btn-neutral">Edit</a>
                                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                            <a href="{% url 'delete_student' student.id %}" class="bi bi-trash"></a>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm"><p>Showing {{todal_child}} items</p></span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
{% endblock content %}